
html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #A7A09D, #746458, #46403E);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
