html, body {
    height: 100%;
    margin: 0;
    font-family: "Unna", serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #A7A09D, #746458, #46403E);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: 18px;

}

section, header, nav, footer {
    background: transparent !important;
}

header {
    height: 83px;
    width: 100%;
    background-image: url("wood-83 1.png") !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 40px;
}

header nav ul img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.nav-links{
    display: flex;
    list-style: none;
    gap: 60px;
    padding: 0;
    margin: 0;
}


.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-style: ;

}

.hero {
    background-image: url("wood-244 1.png") !important ;
    height: 244px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}


.hero h1 {
    font-size: 52px;
    font-family: "kalam", cursive;
    margin-top: 20px;
}

.hero h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


.hero img {
    width: 160px;
    height: auto;
    margin-top: 10px;
}

.hero-video {
    position: relative;
    height: 100;
    overflow: hidden;
    width: 100%;
    height: 300px;
}

.hero-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aabningstid {
    color: white;
    background-color: #A45721 !important;
    box-shadow: 0 5px 20px 20px #625d5b;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 40px 20px ;
    text-align: center;
}

.aabningstid h1 {
    font-size: 26px;
    margin-bottom: 10px;
}

.velkommen, .event {
    background-image: url("wood-670\ 1.png") !important; 
    background-repeat: no-repeat !important;
    background-size: cover !important; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 4%;
    text-align: center;

}

.velkommen img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px rgba(0, 0, 0, 0.3);
}

.velkommen #tekst,
.event #tekst {
    max-width: 500px;
  

}

.velkommen h1,
.event h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

.velkommen p,
.event p {
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    display: flex;
    width: 211px;
    height: 55px;
    padding: 17px 18px 17px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background-color: #A45721;
    color: white;
    border-radius: 8px;
    border: 1px solid var(--Grey-20, #333);
    box-shadow: 0 0 20px 0 #000 inset;
    backdrop-filter: blur(6px);
    font-weight: 700;
    font-size: 20px;
    font-family: "Unna", serif;
}

.velkommen article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event article {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Main */
.main-sortiment {
  background-image: url("wood-634 1.png") !important;
  background-size: cover !important;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 50px 0px;
}
 
.main-sortiment-h2 {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
}
 
#main-p {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Unna", serif;
  font-weight: 400;
  font-size: 20px;
  max-width: 1280px;
}
 
.main-produkter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1280px;
  gap: 40px;
 
}
 
.main-produkt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 calc(20%);
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
}
 
.main-produkt-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}
 
.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 211px;
  height: 55px;
  padding: 17px 18px;
  gap: 10px;
  flex-shrink: 0;
  background-color: #A45721;
  color: white;
  border-radius: 8px;
  border: 1px solid var(--Grey-20, #333);
  box-shadow: 0 0 20px 0 #000 inset;
  backdrop-filter: blur(6px);
  font-weight: 700;
  font-size: 20px;
  font-family: "Unna", serif;
}
 
.main-cheers {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
 
.main-centered-image {
  display: block;
  margin-top: 20px auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}
 
.main-aabningstid {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1280px;
  background-color: #A45721 !important;
  height: 70px;
  font-size: 18px;
  padding: 40px 0px;
  margin: auto;
}
 
.main-h3 {
  font-size: 26px;
  margin-bottom: 10px;
}
 
.main-collage {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  max-width: 1280px;
  margin: auto;
 
}
 
.main-collage-img {
  display: flex;
  flex-direction: column;
  width: 305px;
  height: auto;
  display: block;
  margin-bottom: 16px;
  break-inside: avoid;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
 
.main-collage img:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6);
}
 
/* End Main */



.kalam-light {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
}
 
.kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}
 
.kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
}
 
.unna-regular {
    font-family: "Unna", serif;
    font-weight: 400;
    font-style: normal;
}
 
.unna-bold {
    font-family: "Unna", serif;
    font-weight: 700;
    font-style: normal;
}
 
.unna-regular-italic {
    font-family: "Unna", serif;
    font-weight: 400;
    font-style: italic;
}
 
.unna-bold-italic {
    font-family: "Unna", serif;
    font-weight: 700;
    font-style: italic;
}
 
.end-section {
    background-color: #9d9d9d;
 
    background-image: url(woode-1074\ 1.png);
 
}
 
.alignment {
    display: flex;              
    justify-content: space-between;
  align-items: flex-start;
  gap: 20px;                  
   }
   
 
 
.historie h2 {
    font-family: "Unna" serif;
    color: rgb(255, 255, 255);
    font-size: 28px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-left: 50px;
}
 
.historie p {
    font-family: "Unna" serif;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   padding: 5px;
    letter-spacing: 0.2px;
    margin-left: 50px;
   
 
}
 
#SKÅL{ white-space: pre; font-style: italic; text-decoration: underline;}
 
.billede-historie, .billede-øl-smagning {
    background-repeat: no-repeat !important;
    background-size: cover !important; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 4%;
    text-align: center; 
}

.billede-historie img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px rgba(0, 0, 0, 0.3);
}

#tekst {
    text-align: center;

}

.billede-historie h1,
.billede-øl-smagning h1 {
    font-size: 28px;
    margin-bottom: 15px;
    align-items: center;
    text-align: center;
}

.billede-historie p,
.billede-øl-smagning p {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 5px;
    letter-spacing: 0.2px;
    line-height:  30px;;
    margin-left: 50px;
    font-family: "Unna" serif;

}

.alignment {
  max-width: 1280px;
  text-align: center;
}
 
 
button {
    display: flex;
    width: 211px;
    height: 55px;
    padding: 17px 18px 17px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background-color: #A45721;
    color: white;
    border-radius: 8px;
    border: 1px solid var(--Grey-20, #333);
    box-shadow: 0 0 20px 0 #000 inset;
    backdrop-filter: blur(6px);
    font-weight: 700;
    font-size: 20px;
    font-family: "Unna", serif;
}
 
.book-button{ display: flex; justify-content: center;}
 
.footer {
    background-color: #9d9d9d;
    opacity: 0, 3;
    background-image: url(wood-1440x340\ 1.png);
    display: flex;
    gap: 409px;
    justify-content: space-evenly;
}
 
 
.footer p {
    font-size: 20px;
    color: white;
    font-family: "Unna" serif;
    margin-right: 245;
    margin-top: 55px;
}
 
#facebook {
    margin-left: 245;
    margin-top: 37;
}
 
#mail {
    text-decoration: underline;
}
 
#CVR {
    white-space: pre;
}
 
 
 
 
@media (max-width: 768px) {
 

 

  .alignment {
    display: flex;
    flex-direction: column;
  }

  .footer {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}




@media (max-width: 768px) {

  .main-sortiment {
    padding: 40px 20px;
    max-width: autopx;
  }
 
  .main-sortiment-h2 {
    font-size: 24px;
  }
 
  #main-p {
 
    font-size: 16px;
    max-width: 400px;
  }
 
 
  .main-h3 {
    font-size: 22px;
  }
 
  .main-button {
    width: 120px;
    font-size: 16px;
  }
 
  .main-produkter {
    gap: 10px;
    max-width: 350px;
  }
 
  .main-produkt {
    flex: 1 1 calc(60%% - 20px);
  }
 
  .main-produkt-img {
    width: 70%;
  }


.nav-links {
    display: none;
}
#logo {
    display: none;
}



@media (min-width: 768px) {
#Logomobile {
        visibility: hidden;
    }
#menumobile {
    visibility: hidden;
}
}