html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #A7A09D, #746458, #46403E);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section, header, nav, footer {
    background: transparent !important;
}

.hero-video {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}